body
{
background-color:#ffd8b0;
font-size:12px'
}
h1
{
font-family:"Arial";
color:orange;
text-align:center;
}
h2
{
font-family:"Arial";
color:orange;
text-align:left;
}
h6
{
font-family:"Arial";
text-align:center;
}
p
{
font-family:"Arial";
font-size:16px;
}
td
{
font-family:"Arial";
}
.etiqueta
{
background-color:orange;
}
.element_taula
{
background-color:PaleGoldenRod;
}
